@import "tailwindcss";
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '@skeletonlabs/skeleton/themes/wintry'; 
@import '@skeletonlabs/skeleton/themes/mint'; 
@import '@skeletonlabs/skeleton/themes/hamlindigo'; 

/* Bugfix from Skeleton docs */
.select,
.input,
.textarea,
.ig-input,
.ig-select {
	background-color: var(--color-surface-50-950);
	color: var(--color-surface-950-50);
}